body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: black;
    border-radius: 10px;
    padding: 50px;

}

.header-layout {
    display: flex;
}

h1 {
    font-size: 40px;
    color: brown;
}

.menu {
    color: white;
}

.menu-list {
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr); */
    /* flex-direction: row; */
    padding: 10px;
    border: 5px solid orangered;
}

.header-button {
    color: white;
    text-align: center;
    background-color: rgb(248, 19, 145);
    border-radius: 5px;
    padding: 15px 15px;

}

#menu-1 {
    text-decoration-line: none;
}

.main-menu>div>ul {
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: black;
}

.main-menu li a {
    background-color: tomato;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

.main-menu li {
    list-style: none;
    margin-right: 10px;
}

.banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tap-button {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: tomato;
    border: 2px solid white;
    display: none;
}



footer {
    background-color: black;
    text-align: center;
}

hr {
    border: 2px solid white;
}

.footer-bar {
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.logo {
    color: bisque;
    justify-content: center;
    margin: 10px;
}

@media only screen and (min-width:689px) and (max-width:992px) {
    .tap-button {
        display: block;

    }

    .parent-btn {
        text-align: center;
    }

    .banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main-menu>div>ul {
        row-gap: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        background-color: black;
    }

    .footer-bar {
        color: white;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (max-width:688px) {

    .footer-bar {
        color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .main-menu>div>ul {
        row-gap: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        background-color: black;
    }

    header {
        background-color: black;
        border-radius: 10px;
        padding: 50px;
        text-align: center;

    }

    .header-layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
    }